.userProfileSection {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: fit-content;
  border-radius: 12px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  min-height: 100vh;
}

.userProfileIcons {
  margin-bottom: -5px;
  margin-right: 5px;
  color: #7f3ff5;
}
