.spinner {
  width: 70px;
  height: 70px;
  border: 4px solid #e5e7eb;
  border-top: 4px solid #305CDE;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 200px auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
