.spinner2 {
  width: 30px;
  height: 30px;
  border: 4px solid #e5e7eb;
  border-top: 4px solid #7f3ff5;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
