.rightMenuItems .userDetailsRight .userDetailsRightIcon {
  margin-right: 8px;
  color: #305CDE;
  background: linear-gradient(135deg, #ffffff, #eaefff);
  padding: 1px;
  border-radius: 100px;
  margin-top: 3px;
}

.userDetailsRight {
  display: flex;
  flex-direction: row;
}

.userDetailsRight p {
  margin: 0;
  padding: 0;
  font-size: 0.75rem;
}

.userDetailsRight .udrt2 {
  font-size: 0.6rem;
}

.rightMenuItems:hover {
  transform: translateY(-1px);
}

@media screen and (max-width: 768px) {
  .userDetailsRight {
    display: none;
  }
}
