.signup-container {
  display: flex;
  min-height: 100vh;
}

.signup-form {
  flex: 1;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signup-form h2 {
  margin-bottom: 24px;
}

.signup-form form {
  max-width: 400px;
}

.input-group {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #ccc;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 16px;
}

.input-group svg {
  color: #555;
}

.input-group input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 0.9rem;
}

.input-group:focus {
  border-color: 1px solid #7f3ff5;
}

.signup-form button {
  width: 100%;
  padding: 12px;
  background: #7f3ff5;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.signup-form button:hover {
  background: #6f3ced;
}

.signup-image {
  flex: 1;
}

.signup-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.smallTexts2 {
  font-size: 0.7rem;
  color: #444;
  margin-top: 20px;
  max-width: 400px;
  justify-self: center;
}

.textToLoginLink {
  margin-top: 25px;
  font-size: 0.9rem;
  color: #111;
}

.linkToLink {
  color: #7f3ff5;
  font-size: 1rem;
  text-decoration: none;
}

.password-group {
  position: relative;
}

.toggle-password {
  cursor: pointer;
  color: #555;
  display: flex;
  align-items: center;
}

.toggle-password:hover {
  color: #7f3ff5;
}

.formMessageTwo {
  margin-top: 15px;
  font-size: 0.9rem;
  color: #f53f3f;
  font-weight: 400;
}

@media (max-width: 768px) {
  .signup-container {
    flex-direction: column;
    padding: 10px;
  }

  .signup-image {
    height: 250px;
  }

  .signup-form {
    padding: 0px 20px;
  }
}
